<header class="navbar-fixed">
    <nav class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">Peanut Gallery</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <% if(!user){%>
                    <li class="header-login"><a href="/login">Log in</a></li>
                    <li class="header-signup"><a href="/signup">Sign Up</a></li>
                    <%  }else{ %>
                        <li class="header-user">Welcome,
                            <%= user.userName %>
                        </li>
                        <li class="header-dash"><a href="/reviews">My Reviews</a></li>
                        <li class="header-dash"><a href="/reviews/allReviews">All Reviews</a></li>
                        <li class="header-dash"><a href="/watchlist">My Watchlist</a></li>
                        <li class="header-logout"><a href="/logout">Logout</a></li>
                        <%  } %>
            </ul>
        </div>
    </nav>
</header>

<ul class="sidenav" id="mobile-links">
    <% if(!user) {%>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <%} else {%>
            <li class="header-user">Welcome,
                <%= user.userName %>
            </li>
            <li class="side-dash"><a href="/reviews">My Reviews</a></li>
            <li class="side-dash"><a href="/reviews/allReviews">All Reviews</a></li>
            <li class="side-dash"><a href="/watchlist">My Watchlist</a></li>
            <li class="side-logout"><a href="/logout">Logout</a></li>
            <% } %>



</ul>